<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewpoint" content="width:device-width, initial-scale=1">
  <title>Movie Review Classification</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- CSS file -->
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container-fluid bg-info text-center">
    <a href="url_for('index')">
      <p><img src="../static/img/film-roll.png" alt="reel"> Movie Review Classifier <img src="../static/img/film-roll.png" alt="reel"></p>
    </a>
  </div>
  {% block content %}
  {% endblock %}
</body>
</html>